*.iml
.gradle
/local.properties
/.idea/*
/.idea/deploymentTargetSelector.xml
/backend/.idea
/backend/node_modules
/backend/package-lock.json
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
